<table id="table">

  <thead>
    <tr>
      <th class="alert-table-columns">Alert Name</th>
      <th class="alert-table-columns">Time</th>
      <th class="alert-table-columns">Train</th>
      <th class="alert-table-columns">Recurring?</th>
      <th class="alert-table-columns">Days</th>
      <th class="alert-table-columns">[Options]</th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
    <% @alert = alert %>
    <tr>
      <td><%= @alert.name %></td>
      <td><%= @alert.time_to_send.strftime("%I:%M %p") %></td>
      <td><%= render 'alertslogos' %></td>
      <td>
        <% if @alert.recurring == true %>
        <p>Yes</p>
        <% elsif @alert.recurring == false %>
        <p>No</p>
        <% end %>
      </td>
      <td>
        <%= render 'daysintable' %>
      </td>
      <td>
        <%= link_to "<i class=\"icon-edit icon-white\"></i> Edit".html_safe, edit_alert_path(:id => alert.id), {:class => "btn btn-default", id: alert.id, remote: true} %>
        <%= link_to "<i class=\"icon-remove icon-white\"></i> Delete".html_safe, alert, {method: :delete, :class => "btn btn-danger"} %>
      </td>

    </tr>
    <% end %>
    <tr><td></td></tr>
  </tbody>

</table>

