<table id="table">

  <thead>
    <tr>
      <th>ID</th>
      <th>Time</th>
      <th>Train</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
    <tr>
      <td>Alert #<%= alert.id %></td>
      <td><%= alert.time_to_send.strftime("%I:%M") %></td>
      <td><%= alert.train.name %></td>
      <td>
        <%= link_to "<i class=\"icon-edit icon-white\"></i> Edit".html_safe, edit_alert_path(:id => alert.id), {:class => "btn", id: alert.id, remote: true} %>
        <%= link_to "<i class=\"icon-edit icon-white\"></i> Delete".html_safe, alert, {method: :delete, :class => "btn btn-danger"} %>
      </td>

    </tr>
    <% end %>
    <tr><td><%= link_to "<i class=\"icon-edit icon-white\"></i> Add New Alert".html_safe, new_alert_path, {:class => "btn", :id => "add-alert", remote: true} %></td></tr>
  </tbody>

</table>

