<table>
    <thead>
      <tr>
        <th>Train</th>
        <th>Status</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      <!-- 123 TRAIN -->
      <tr>
        <td class="status_td"><img src="/assets/1.png" /><img src="/assets/2.png" /><img src="/assets/3.png" /></td>

        <td class="status_td"><%= @line123.status %></td>
        <td class="status_td"><i class="icon-info icon line-info" href="#" data-toggle="popover" id="line123" data-content="<%= @line123.text %>"></i><br/>
      </tr>

      <!-- 456 TRAIN -->
      <tr>
        <td class="status_td"><img src="/assets/4.png" /><img src="/assets/5.png" /><img src="/assets/6.png" /></td>

        <td class="status_td"><%= @line456.status %></td>
        <td class="status_td"><i class="icon-info icon line-info" href="#" data-toggle="popover" id="line456" data-content="<%= @line456.text %>"></i><br/>
      </tr>

      <!-- 7 TRAIN -->
      <tr>
        <td class="status_td"><img src="/assets/7.png" /></td>

        <td class="status_td"><%= @line7.status %></td>
        <td class="status_td"><i class="icon-info icon line-info" href="#" data-toggle="popover" id="line7" data-content="<%= @line7.text %>"></i><br/>
      </tr>

      <!-- ACE TRAIN -->
      <tr>
        <td class="status_td"><img src="/assets/a.png" /><img src="/assets/c.png" /><img src="/assets/e.png" /></td>

        <td class="status_td"><%= @lineACE.status %></td>
        <td class="status_td"><i class="icon-info icon line-info" href="#" data-toggle="popover" id="lineACE" data-content="<%= @lineACE.text %>"></i><br/>
        </td>

      </tr>

      <!-- BDFM -->
      <tr>
        <td class="status_td"><img src="/assets/b.png" /><img src="/assets/d.png" /><img src="/assets/f.png" /><img src="/assets/m.png" /></td>

        <td class="status_td"><%= @lineBDFM.status %></td>
        <td class="status_td"><i class="icon-info icon line-info" href="#" data-toggle="popover" id="lineBDFM" data-content="<%= @lineBDFM.text %>"></i><br/>
      </tr>

      <!-- G TRAIN -->
      <tr>
        <td class="status_td"><img src="/assets/g.png" /></td>

        <td class="status_td"><%= @lineG.status %></td>
        <td class="status_td"><i class="icon-info icon line-info" href="#" data-toggle="popover" id="lineG" data-content="<%= @lineG.text %>"></i><br/>
      </tr>

      <!-- JZ TRAIN -->
      <tr>
        <td class="status_td"><img src="/assets/j.png" /><img src="/assets/z.png" /></td>

        <td class="status_td"><%= @lineJZ.status %></td>
        <td class="status_td"><i class="icon-info icon line-info" href="#" data-toggle="popover" id="lineJZ" data-content="<%= @lineJZ.text %>"></i><br/>
      </tr>

      <!-- L TRAIN -->
      <tr>
        <td class="status_td"><img src="/assets/l.png" /></td>

        <td class="status_td"><%= @lineL.status %></td>
        <td class="status_td"><i class="icon-info icon line-info" href="#" data-toggle="popover" id="lineL" data-content="<%= @lineL.text %>"></i><br/>
      </tr>

      <!-- NQR TRAIN -->
      <tr>
        <td class="status_td"><img src="/assets/n.png" /><img src="/assets/q.png" /><img src="/assets/r.png" /></td>

        <td class="status_td"><%= @lineNQR.status %></td>
        <td class="status_td"><i class="icon-info icon line-info" href="#" data-toggle="popover" id="lineNQR" data-content="<%= @lineNQR.text %>"></i><br/>
      </tr>

      <!-- S TRAIN -->
      <tr>
        <td class="status_td"><img src="/assets/s.png" /></td>

        <td class="status_td"><%= @lineS.status %></td>
        <td class="status_td"><i class="icon-info icon line-info" href="#" data-toggle="popover" id="lineS" data-content="<%= @lineS.text %>"></i><br/>
      </tr>

      <!-- SIR TRAIN -->
      <tr>
        <td class="status_td"><img src="/assets/sir.png" /></td>

        <td class="status_td"><%= @lineSIR.status %></td>
        <td class="status_td"><i class="icon-info icon line-info" href="#" data-toggle="popover" id="lineSIR" data-content="<%= @lineSIR.text %>"></i><br/>
      </tr>
    </tbody>
  </table>
