<table>
    <thead>
      <tr>
        <th class="status_td">Train</th>
        <th class="status_td">Status</th>
        <th class="status_td">Details</th>
      </tr>
    </thead>

    <tbody>
      <!-- 123 TRAIN -->
      <tr>
        <td class="status_td"><img src=" http://s3.amazonaws.com/TrackAppImage/1.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/2.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/3.png" /></td>

        <td class="status_td"><%= @line123.status %></td>
        <td class="status_td"><div class="btn btn-default line-info" href="#" data-toggle="popover" id="line123" data-content="<%= @line123.text %>">Info</div><br/>
      </tr>

      <!-- 456 TRAIN -->
      <tr>
        <td class="status_td"><img src=" http://s3.amazonaws.com/TrackAppImage/4.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/5.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/6.png" /></td>

        <td class="status_td"><%= @line456.status %></td>
        <td class="status_td"><div class="btn btn-default line-info" href="#" data-toggle="popover" id="line456" data-content="<%= @line456.text %>">Info</div><br/>
      </tr>

      <!-- 7 TRAIN -->
      <tr>
        <td class="status_td"><img src=" http://s3.amazonaws.com/TrackAppImage/7.png" /></td>

        <td class="status_td"><%= @line7.status %></td>
        <td class="status_td"><div class="btn btn-default line-info" href="#" data-toggle="popover" id="line7" data-content="<%= @line7.text %>">Info</div><br/>
      </tr>

      <!-- ACE TRAIN -->
      <tr>
        <td class="status_td"><img src=" http://s3.amazonaws.com/TrackAppImage/a.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/c.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/e.png" /></td>

        <td class="status_td"><%= @lineACE.status %></td>
        <td class="status_td"><div class="btn btn-default line-info" href="#" data-toggle="popover" id="lineACE" data-content="<%= @lineACE.text %>">Info</div><br/>
        </td>

      </tr>

      <!-- BDFM -->
      <tr>
        <td class="status_td"><img src=" http://s3.amazonaws.com/TrackAppImage/b.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/d.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/f.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/m.png" /></td>

        <td class="status_td"><%= @lineBDFM.status %></td>
        <td class="status_td"><div class="btn btn-default line-info" href="#" data-toggle="popover" id="lineBDFM" data-content="<%= @lineBDFM.text %>">Info</div><br/>
      </tr>

      <!-- G TRAIN -->
      <tr>
        <td class="status_td"><img src=" http://s3.amazonaws.com/TrackAppImage/g.png" /></td>

        <td class="status_td"><%= @lineG.status %></td>
        <td class="status_td"><div class="btn btn-default line-info" href="#" data-toggle="popover" id="lineG" data-content="<%= @lineG.text %>">Info</div><br/>
      </tr>

      <!-- JZ TRAIN -->
      <tr>
        <td class="status_td"><img src=" http://s3.amazonaws.com/TrackAppImage/j.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/z.png" /></td>

        <td class="status_td"><%= @lineJZ.status %></td>
        <td class="status_td"><div class="btn btn-default line-info" href="#" data-toggle="popover" id="lineJZ" data-content="<%= @lineJZ.text %>">Info</div><br/>
      </tr>

      <!-- L TRAIN -->
      <tr>
        <td class="status_td"><img src=" http://s3.amazonaws.com/TrackAppImage/l.png" /></td>

        <td class="status_td"><%= @lineL.status %></td>
        <td class="status_td"><div class="btn btn-default line-info" href="#" data-toggle="popover" id="lineL" data-content="<%= @lineL.text %>">Info</div><br/>
      </tr>

      <!-- NQR TRAIN -->
      <tr>
        <td class="status_td"><img src=" http://s3.amazonaws.com/TrackAppImage/n.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/q.png" /><img src=" http://s3.amazonaws.com/TrackAppImage/r.png" /></td>

        <td class="status_td"><%= @lineNQR.status %></td>
        <% if @lineNQR.status != "GOOD SERVICE" %>
        <td class="status_td"><div class="btn btn-default line-info" href="#" data-toggle="popover" id="lineNQR" data-content="<%= @lineNQR.text %>">Info</div><br/>
          <% end %>
      </tr>

      <!-- S TRAIN -->
      <tr>
        <td class="status_td"><img src=" http://s3.amazonaws.com/TrackAppImage/s.png" /></td>

        <td class="status_td"><%= @lineS.status %></td>
         <% if @lineS.status != "GOOD SERVICE" %>
        <td class="status_td"><div class="btn btn-default line-info" href="#" data-toggle="popover" id="lineS" data-content="<%= @lineS.text %>">Info</div><br/>
          <% end %>
      </tr>

      <!-- SIR TRAIN -->
      <tr>
        <td class="status_td"><img src=" http://s3.amazonaws.com/TrackAppImage/sir.png" /></td>

        <td class="status_td"><%= @lineSIR.status %></td>
        <td class="status_td"><div class="btn btn-default line-info" href="#" data-toggle="popover" id="lineSIR" data-content="<%= @lineSIR.text %>">Info</div><br/>
      </tr>
    </tbody>
  </table>
